{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<h2>Paciente: {{paciente.usuario.first_name}} {{ paciente.usuario.last_name }}</h2>

<form action="{% url 'medicos:iniciar_estudio' %}" method="post">
    {% csrf_token %}

    <input hidden value="{{ paciente.id_paciente }}" name="id_paciente" />

    <div class="mb-4">
        <label class="form-label">Síntomas del paciente</label>
        <div id="sintomas-seleccionados" class="mb-3"></div>
        <div class="row">
            <div class="col-12 col-md-4">
                <input class="form-control" type="text" id="buscador-sintomas" />
            </div>
            <div class="col-12 col-md-8">
                <select id="select-sintomas" class="form-select" name="sintomas"></select>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div>
            <label class="form-label">Patología sospechada</label>
            {% if patologias %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <select class="form-select" name="patologia" id="patologia-select">
                            <option selected disabled >Elegir patologia</option>
                            {% for patologia in patologias %}
                                <option>{{ patologia.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <p><b>Gen a analizar: </b><span id="gen-analizar"></span></p>
                    </div>
                    
                </div>
            {% else %}
                <p>Hubo un error al cargar las patologias</p>
            {% endif %}
        </div>    
        <div>
            
        </div>
    </div>

    <div class="mb-4 row">
        <div class="mb-2 col-12 col-md-6">
            <label class="form-label">Tipo de sospecha</label>
            <select class="form-select" name="sospecha" id="sospechaId">
                <option value="0">Sospecha puntual</option>
                <option value="1">Sospecha familiar</option>
            </select>
        </div>

        <div id="parentescoId" style="display: none;" class="mb-2 col-12 col-md-6">
            <label class="form-label">Parentesco con el familiar</label>
            <input class="form-control" name="parentesco"/>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label">Tipo de estudio</label>
        <select class="form-select" name="tipo_estudio">
            <option value="exoma">Exoma</option>    
        </select>
    </div>

    <div class="mb-4">
        <label class="form-label">Elegir genes a analizar (opcional)</label>
        {% if genes %}
            <select class="form-select" name="genes" multiple>
                {% for gen in genes %}
                    <option>{{ gen.nombre }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>


    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="hallazgo-check" name="hallazgo">
        <label class="form-check-label" for="hallazgo-check">
            Hallazgos secundarios
        </label>
    </div>

    <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Estudio</button>
        <a href="javascript:history.back()" class="btn btn-light">Cancelar</a>
    </div>
</form>

<p>{{ api_data }}</p>
<p>{{ api_data.nombre_patologia }}</p>
<p>{{ api_data.gen }}</p>

<script>

    const parentescoId = document.getElementById('parentescoId');
    const sospechaId = document.getElementById('sospechaId');

    var datap;
    var statusCode;

    const sintomasInput = document.getElementById('buscador-sintomas')
    const sintomasSelect = document.getElementById('select-sintomas')
    const sintomasSeleccionados = document.getElementById('sintomas-seleccionados')
    var valores = [];
    var sintoma = {}    

    sintomasInput.addEventListener('input', function(e) {
        if (sintomasInput.value.length > 3) {
            fetch(`https://api.claudioraverta.com/lista-sintomas/?nombre=${sintomasInput.value}`)
            .then(response => response.json())
            .then(data => {
                sintomasSelect.innerHTML = '';
                console.log(data)
                data.results.forEach(sintoma => {
                    const option = document.createElement('option');
                    option.value = sintoma.id;
                    option.textContent = sintoma.nombre;
                    sintomasSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error al obtener los síntomas:', error);
            });
        }
    });

    sintomasSelect.addEventListener('change', function(e) {

        if (!valores.some(s => s.id === e.target.value)) {
            const nuevoSintoma = {
                id: e.target.value,
                nombre: sintomasSelect.querySelector(`option[value="${e.target.value}"]`).innerHTML
            };
            valores.push(nuevoSintoma);
        }

        const chip = document.createElement('span');
        chip.className = "badge rounded-pill text-bg-primary me-2";
        chip.textContent = sintomasSelect.querySelector(`option[value="${e.target.value}"]`).innerHTML;

        const closeBtn = document.createElement('a');
        const icon = document.createElement('i');
        icon.className = "bi bi-x-lg ml-2 delete-sintoma";
        icon.id = e.target.value;

        closeBtn.appendChild(icon)
        chip.appendChild(closeBtn)
        sintomasSeleccionados.appendChild(chip);
    });
    
    document.addEventListener('click', function(e) {
        if (e.target.classList.contains('delete-sintoma')) {
            console.log('ID del elemento:', e.target.id);
            valores = valores.filter((s) =>  s.id !== e.target.id);

            const chip = e.target.closest('.badge');
            if (chip) {
                chip.remove();
            }
        }
    });

    const patologiaSelect = document.getElementById('patologia-select');
    const gen_div = document.getElementById('gen-analizar');

    patologiaSelect.addEventListener('change', function(e) {
        fetch(`https://api.claudioraverta.com/genes-analizar/${patologiaSelect.value}`)
        .then(response => {
            statusCode = response.status;
            return response.json()
        })
        .then(data => {
            datap = data; 
            if (statusCode == 200) {
                gen_div.innerHTML = data.gen;
                gen_div.className = "badge text-bg-success"
                console.log(data);
            }
            else {
                gen_div.innerHTML = data.error;
                console.log(data);
            }     
        })
        .catch(error => {
            debugger;
            errorp = error;
            gen_div.innerHTML = "Hubo problemas para conectarse a los servicios. Intente nuevamente más tarde."
            console.error('Error:', error);
        });
    });

    sospechaId.addEventListener('change', function(e) {
        if (sospechaId.value == '1') {
            parentescoId.style = "display: block;"
        }
        else {
            parentescoId.style = "display: none;"
        }
    });

    document.querySelector('form').addEventListener('submit', async function(e) {
        e.preventDefault(); // Detiene el envío del formulario
     
        const formData = new FormData(e.target);      

        if (await validarForm(formData)) {
            formData.append('sintomas', JSON.stringify(valores));
            this.submit(); // Envía el formulario
            alert("Formulario enviado!");
        };     
     });

    async function validarForm(formData) {
        if (!validarSintomas()) return false
        if (!validarPatologia(formData.get('patologia'))) return false
        if (!validarSospecha(formData.get('sospecha'), formData.get('parentesco'))) return false
        if (!await validarSintomasConPatologia(formData.get('patologia'))) return false
        return true;
    } 

    function validarPatologia(patologia) {
        if(!patologia) {
            alert('Debe seleccionar una patología');
            return false;
        }
        return true;
    }

    function validarSintomas() {
        if(valores.length == 0) {
            alert('Debe seleccionar algun sintoma');
            return false;
        }
        return true
    }

    function validarSospecha(sospecha, parentesco) {
        console.log(sospecha)
        console.log(parentesco)
        if (sospecha == '1' & !parentesco) {
            alert("Debe ingresar el parentesco familiar");
            return false;
        }
        else {
            return true;
        }
    }

    async function validarSintomasConPatologia(patologia) {
        
        var sintomas = [];
        valores.forEach(e => sintomas.push(e.nombre));

        console.log(JSON.stringify({
            patologia: patologia,
            sintomas: sintomas
        }));

        try {
            const response = await fetch('https://api.claudioraverta.com/sintomas-validos/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    patologia: patologia,
                    sintomas: sintomas
                })
            });
            const data = await response.json();
            if (!data.valido) {
                alert("Los sintomas no son validos para la patologia seleccionada");
                return false
            } 
        } catch (error) {
            console.error('Error:', error);
            return false;
        }
        return true
    }

     
</script>

{% endblock %}