{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<h2>Paciente: {{paciente.usuario.first_name}} {{ paciente.usuario.last_name }}</h2>

<form action="{% url 'medicos:iniciar_estudio' %}" method="post">
    {% csrf_token %}

    <input hidden value="{{ paciente.id_paciente }}" name="id_paciente" />

    
    <div class="mb-3">
        <input type="checkbox" id="use_existing_lugar" name="use_existing_lugar" {% if centro_form.instance.lugar %}checked{% endif %}>
        <label for="use_existing_lugar">Usar un lugar existente</label>
    </div>

    <div id="existing-lugar-section" class="mb-4" style="{% if not centro_form.instance.lugar %}display: none;{% endif %}">
        <label for="lugar" class="form-label">Seleccionar Lugar</label>
        <select name="lugar" id="lugar" class="form-select">
            <option value="" disabled {% if not centro_form.instance.lugar %}selected{% endif %}>Seleccione un lugar</option>
            {% for lugar in lugares %}
                <option value="{{ lugar.id_lugar }}" {% if centro_form.instance.lugar and lugar.id_lugar == centro_form.instance.lugar.id_lugar %}selected{% endif %}>
                    {{ lugar.ciudad }}, {{ lugar.provincia }}, {{ lugar.pais }}
                </option>
            {% endfor %}
        </select>
    </div>
    
    <div id="new-lugar-section" class="mb-3" style="{% if centro_form.instance.lugar %}display: none;{% endif %}">
        <div class="mb-3">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="Ingrese la ciudad">
        </div>
        <div class="mb-3">
            <label for="provincia" class="form-label">Provincia</label>
            <input type="text" name="provincia" id="provincia" class="form-control" placeholder="Ingrese la provincia">
        </div>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input type="text" name="pais" id="pais" class="form-control" placeholder="Ingrese el país">
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label">Síntomas del paciente</label>
        <div id="sintomas-seleccionados" class="mb-3"></div>
        <div class="row">
            <div class="col-12 col-md-4">
                <input class="form-control" type="text" id="buscador-sintomas" placeholder="Buscar sintoma. Al menos 4 caracteres."/>
            </div>
            <div class="col-12 col-md-8">
                <select id="select-sintomas" class="form-select">
                    <option selected disabled>Elegir sintoma</option>
                </select>
                <div class="invalid-feedback" id="error-sintomas" style="display: none;">
                    Debe seleccionar al menos un sintoma.
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div>
            <label class="form-label">Patología sospechada</label>
            {% if patologias %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <select class="form-select" name="patologia" id="patologia-select">
                            <option selected disabled >Elegir patologia</option>
                            {% for patologia in patologias %}
                                <option value="{{ patologia.id_enfermedad }}">{{ patologia.nombre }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback" id="error-patologia" style="display: none;">
                            Debe seleccionar una patología.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p><b>Gen a analizar: </b><span id="gen-analizar"></span></p>
                    </div>
                    
                </div>
            {% else %}
                <p>Hubo un error al cargar las patologias</p>
            {% endif %}
        </div>    
        <div>
            
        </div>
    </div>

    <div class="mb-4 row">
        <div class="mb-2 col-12 col-md-6">
            <label class="form-label">Tipo de sospecha</label>
            <select class="form-select" name="sospecha" id="sospechaId">
                <option value="1">Sospecha puntual</option>
                <option value="2">Sospecha familiar</option>
            </select>
        </div>

        <div id="parentescoId" style="display: none;" class="mb-2 col-12 col-md-6">
            <label class="form-label">Parentesco con el familiar</label>
            <input class="form-control" name="parentesco" id="parentescoInput"/>
            <div class="invalid-feedback" id="error-parentesco" style="display: none;">
                Debe ingresar el parentesco familiar.
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label">Tipo de estudio</label>
        <select class="form-select" name="tipo_estudio">
            <option value="Exoma">Exoma</option>    
        </select>
    </div>

    <div class="mb-4">
        <label class="form-label">Elegir genes a analizar (opcional)</label>
        {% if genes %}
            <div class="row">
                {% for gen in genes %}
                    <div class="col-12 col-md-4 mb-2">
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                id="gen-{{ gen.id_gen }}" 
                                name="genes" 
                                value="{{ gen.id_gen }}">
                            <label class="form-check-label" for="gen-{{ gen.id_gen }}">
                                {{ gen.nombre }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No hay genes disponibles para seleccionar.</p>
        {% endif %}
        </div>
    </div>
    


    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="hallazgo-check" name="hallazgo">
        <label class="form-check-label" for="hallazgo-check">
            Hallazgos secundarios
        </label>
    </div>

    <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Estudio</button>
        <a href="javascript:history.back()" class="btn btn-light">Cancelar</a>
    </div>
</form>

<div class="modal fade" id="my-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Los síntomas no son válidos para la patología seleccionada.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Intente con otro síntoma compatible.</p>
              </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
  

<script src="{% static 'iniciar_estudio.js' %}"></script>

<script>
    document.getElementById('use_existing_lugar').addEventListener('change', function () {
        const useExisting = this.checked;
        document.getElementById('existing-lugar-section').style.display = useExisting ? 'block' : 'none';
        document.getElementById('new-lugar-section').style.display = useExisting ? 'none' : 'block';
    });
</script>
{% endblock %}