<!-- formulario_usuario.html -->
{% extends 'base.html' %}

{% block title %}Formulario de Transportista{% endblock %}

{% block content %}
    <h1>{{ titulo }}</h1>

    <form method="POST" class="p-4 rounded border border-light bg-light shadow-sm">
        {% csrf_token %}
        {{ usuario_form.as_p }}

        <button type="submit" class="btn btn-primary">Guardar Transportista</button>
    </form>

    <a class="btn btn-secondary" href="{% url 'system_admin:lista_usuarios' %}">Volver</a>
{% endblock %}
