<!-- lista_usuarios.html -->
{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
{% load static %}
{% load permisos_tags %}
    {% if activated %}
    <h2>Lista de Usuarios</h2>
    {% else %}
    <h2>Lista de Usuarios Desactivados</h2>
    {% endif %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list %}
            <tr>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.rol }}</td>
                <td>
                    {% tiene_permiso user "usuario_update" as puede_ver %}
                    {% if puede_ver %}
                        {% if usuario.rol.nombre == "medico" %}
                            <a class="btn btn-secondary" href="{% url 'system_admin:editar_medico' usuario.medico.id_medico %}">Editar</a>
                        {% elif usuario.rol.nombre == "paciente" %}
                            <a class="btn btn-secondary" href="{% url 'medicos:editar_paciente' usuario.paciente.id_paciente %}">Editar</a>
                        {% elif usuario.rol.nombre == "lab_admin" %}
                            <a class="btn btn-secondary" href="{% url 'system_admin:editar_lab_admin' usuario.labadmin.id_lab_admin %}">Editar</a>
                        {% elif usuario.rol.nombre == "transportista" %}
                            <a class="btn btn-secondary" href="{% url 'system_admin:editar_usuario' usuario.id_usuario %}">Editar</a>
                        {% endif %}
                    {% endif %}
                    {% if usuario.is_deleted %}
                        {% tiene_permiso user "usuario_update" as puede_ver %}
                        {% if puede_ver %}
                        <a class="btn btn-success" href="{% url 'system_admin:activar_usuario' usuario.pk %}" onclick="return confirm('¿Estás seguro de activar este usuario?')">Activar</a>
                        {% endif %}
                    {% else %}
                        {% tiene_permiso user "usuario_destroy" as puede_ver %}
                        {% if puede_ver %}
                        <a class="btn btn-danger" href="{% url 'system_admin:eliminar_usuario' usuario.pk %}" onclick="return confirm('¿Estás seguro de desactivar este usuario?')">Desactivar</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay usuarios para mostrar.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if activated %}
    <a class="btn btn-secondary" href="{% url 'system_admin:usuarios_desactivados' %}">Usuarios desactivados</a>
    {% else %}
    <a class="btn btn-secondary" href="{% url 'system_admin:lista_usuarios' %}">Volver</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'system_admin:crear_usuario' %}">Crear Transportista</a>
    
<div class="d-flex justify-content-center">
    <div class="pagination">
        <ul class="pagination">
            {% if object_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ object_list.previous_page_number }}">Anterior</a>
            </li>
            {% endif %}
            {% for num in object_list.paginator.page_range %}
            <li class="page-item {% if object_list.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if object_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ object_list.next_page_number }}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

