<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nuevo Usuario</title>
</head>
<body>
    <h1>Hola {{ usuario.first_name }}, </h1>
    <p>Se ha creado tu cuenta en nuestra plataforma con los siguientes datos:</p>
    <ul>
        <li><strong>DNI:</strong> {{ usuario.username }}</li>
        <li><strong>Contraseña:</strong> {{ password }}</li>
    </ul>
    <p>Por favor, cambia tu contraseña al iniciar sesión.</p>
    <p>Gracias por unirte a nuestra plataforma.</p>
</body>
</html>
