<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle del Presupuesto</title>
</head>
<body>
    <h1>Hola {{ nombre_paciente }},</h1>
    <p>Te informamos que el resultado de tu estudio {{ id_estudio }} esta disponible:</p>
    {% if resultado == "Positivo" %}
        <h1 style="color: green">Resultado:</h1> {{ resultado }}</li>
    {% else %}
        <h1 style="color: red">Resultado:</h1> {{ resultado }}</li>
    {% endif %}
    <p>Puedes ver el detalle del estudio en la sección de Mis estudios.</p>
    <p>¡Gracias por confiar en nosotros!</p>
</body>
</html>
