{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<h1 class="mb-2">Listado de estudios</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID Estudio</th>
            <th>Tipo estudio</th>
            <th>Presupuesto</th>
            <th>Estado</th>
            <th>Operación</th>
        </tr>
    </thead>
    <tbody>
        {% for estudio in estudios %}
        <tr>
            <td>{{ estudio.id_interno }}</td>
            <td>{{ estudio.tipo_estudio }}</td>
            <td>{{ estudio.presupuesto.costo_exoma }}</td>
            <td>
                {% if estudio.estado == estados.FINALIZADO %}
                    <span class="badge rounded-pill text-bg-success">FINALIZADO</span>
                {% elif estudio.estado == estados.CANCELADO %}
                    <span class="badge rounded-pill text-bg-danger">CANCELADO</span>
                {% else %}
                    <span class="badge rounded-pill text-bg-primary">{{ estudio.estado|upper }}</span>
                {% endif %}
            </td>
            <td>
                {% if estudio.estado == estados.INICIADO %}
                    <a class="btn btn-secondary" href="/admin_lab/editar_presupuesto">Editar Presupuesto</a>
                {% elif estudio.estado == estados.PRESUPUESTADO %}
                    <form action="{% url 'lab_admin:pagar_admin' estudio.id_estudio %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit">PAGADO</button>
                    </form>
                {% elif estudio.estado == estados.PAGADO %}
                    <p>El paciente tiene que firmar consentimiento</p>
                {% elif estudio.estado == estados.AUTORIZADO %}
                    <p>El paciente tiene que confirmar turno</p>
                {% elif estudio.estado == estados.TURNO_CONFIRMADO %}
                    <a class="btn btn-secondary">Muestra realizada</a>
                {% elif estudio.estado == estados.REALIZADA %}
                    <a class="btn btn-secondary">Enviar al Centro</a>
                {% elif estudio.estado == estados.CENTRALIZADA %}
                    <a class="btn btn-secondary">Enviar al exterior</a>
                {% elif estudio.estado == estados.ENVIADA_EXTERIOR %}
                    <a class="btn btn-secondary">Cargar resultados</a>
                {% endif %}

                {% if estudio.estado != estados.CANCELADO and estudio.estado != estados.FINALIZADO %}
                    <a class="btn btn-danger">CANCELAR</a>
                {% endif %}                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}