{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<div class="mb-2 d-flex justify-content-between">
    <h1>Cargar resultado de estudio.</h1>
    
    <a href="{% url 'lab_admin:estudios' %}">
        <button class="btn btn-outline-violet">Volver</button>
    </a> 
</div>

<h2 class="mb-4">Estudio: {{ estudio.id_interno }} </h2>
<h4>Patología: {{estudio.patologia.nombre}}</h3>
<h4 class="mb-4">Gen: {{estudio.patologia.gen}}</h3>

<form action="{% url 'lab_admin:cargar_resultado' %}" method="post">
    {% csrf_token %}
    <input hidden value="{{ estudio.id_estudio }}" name="id_estudio" />
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <label class="form-label">Seleccionar variantes</label>
            <div id="variantes-seleccionadas" class="mb-3"></div>
            <select class="form-select" name="patologia" id="variante-select">
                <option selected disabled >Elegir variante</option>
                {% for variante in variantes %}
                    <option value="{{ variante.id }}">{{ variante.nombre }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback" id="error-variantes" style="display: none;">
                Debe seleccionar al menos una variante para generar el diagnóstico.
            </div>
        </div> 

    </div>
    </div>
    <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-primary" type="submit">Guardar Diagnóstico</button>
        <a class="btn btn-light">Cancelar</a>
    </div>
</form>

<script>
    const varianteSelect = document.getElementById('variante-select');
    const divVariantesSeleccionadas = document.getElementById('variantes-seleccionadas');
    var variantesSeleccionadas = []

    const patologia = "{{ estudio.patologia.nombre }}"

    varianteSelect.addEventListener('change', async function(e) {
        e.preventDefault()
        if (!variantesSeleccionadas.some(s => s.id === e.target.value)) {
            const nuevaVariante = {
                id: e.target.value,
                nombre: varianteSelect.querySelector(`option[value="${e.target.value}"]`).innerHTML
            };
            variantesSeleccionadas.push(nuevaVariante);
        }
        const chip = document.createElement('span');
        chip.className = "badge rounded-pill text-bg-primary me-2";
        chip.textContent = varianteSelect.querySelector(`option[value="${e.target.value}"]`).innerHTML;

        const closeBtn = document.createElement('a');
        const icon = document.createElement('i');
        icon.className = "bi bi-x-lg ml-2 delete-variante";
        icon.id = e.target.value;

        closeBtn.appendChild(icon)
        chip.appendChild(closeBtn)
        divVariantesSeleccionadas.appendChild(chip);

    });

    document.addEventListener('click', function(e) {
        if (e.target.classList.contains('delete-variante')) {
            console.log('ID del elemento:', e.target.id);
            variantesSeleccionadas = variantesSeleccionadas.filter((v) =>  v.id !== e.target.id);

            const chip = e.target.closest('.badge');
            if (chip) {
                chip.remove();
            }
        }
    });

    async function validarForm(formData) {
        if(variantesSeleccionadas.length == 0) {
            varianteSelect.className = "form-select is-invalid"
            document.getElementById('error-variantes').style = "display: block;"
            return false;
        }
        varianteSelect.className = "form-select is-valid"
        document.getElementById('error-variantes').style = "display: none;"
        return true
    }

    document.querySelector('form').addEventListener('submit', async function(e) {
        e.preventDefault(); // Detiene el envío del formulario
     
        const formData = new FormData(e.target);      

        if (await validarForm(formData)) {

            // Crear input hidden
            const inputVariantes = document.createElement('input');
            inputVariantes.type = 'hidden';
            inputVariantes.name = 'variantes';
            inputVariantes.value = JSON.stringify(variantesSeleccionadas);
            this.appendChild(inputVariantes);

            this.submit(); // Envía el formulario
        };     
     });

</script>

{% endblock %}