{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-50" >
        <div class="card p-4" style="width: 100%; max-width: 400px;">
            <h2 class="text-center mb-4">Cambiar Contraseña</h2>
            <form method="post" action="{% url 'inicio_sesion:cambiar_contrasena' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="current_password" class="form-label">Contraseña actual:</label>
                    <input type="password" name="current_password" id="current_password" name="current_password" placeholder="current_password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nueva contraseña:</label>
                    <input type="password" name="new_password" id="new_password" name="new_password" placeholder="new_password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password_again" class="form-label">Confirmar nueva contraseña:</label>
                    <input type="password" name="new_password_again" id="new_password" name="new_password" placeholder="new_password"required>
                </div>
                
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit" style="background-color: #6a0dad;">Cambiar Contraseña</button>
                </div>
                </form>
        </div>
    </div>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endblock %}
