{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center  bg-light">
        <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
            <h2 class="text-center mb-4" style="color: #6a0dad;">Cambiar Contraseña</h2>
            
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            
            <form method="post" action="{% url 'inicio_sesion:cambiar_contrasena' %}">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="current_password" class="form-label">Contraseña actual</label>
                    <input type="password" class="form-control" name="current_password" id="current_password" required>
                </div>
                
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" name="new_password" id="new_password" required>
                </div>
                
                <div class="mb-3">
                    <label for="new_password_again" class="form-label">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" name="new_password_again" id="new_password_again" required>
                </div>
                
                <div class="d-grid">
                    <button class="btn btn-violet" type="submit" >Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
<a href="{% url 'home' %}" class="btn btn-outline-violet">Volver</a>  
{% endblock %}
