{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-between">
    <h1 class="mb-2">Estudio {{ estudio.id_interno}} </h1>    

    <div class="d-flex gap-2">    
        <a href="javascript:history.back()">
            <button class="btn btn-secondary">Volver</button>
        </a>

        <div>  
            {% if estudio.estado == estados.INICIADO %}
                <a class="btn btn-primary" href="{% url 'lab_admin:form_presupuesto' estudio.id_estudio %}">Editar Presupuesto</a>
            {% elif estudio.estado == estados.PRESUPUESTADO %}
                <form action="{% url 'lab_admin:pagar_admin' estudio.id_estudio %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Pagado</button>
                </form>
            {% elif estudio.estado == estados.TURNO_CONFIRMADO %}
                <a class="btn btn-primary">Muestra realizada</a>
            {% elif estudio.estado == estados.REALIZADA %}
                <a class="btn btn-primary">Enviar al Centro</a>
            {% elif estudio.estado == estados.CENTRALIZADA %}
                <a class="btn btn-primary">Enviar al exterior</a>
            {% elif estudio.estado == estados.ENVIADA_EXTERIOR %}
                <a class="btn btn-primary">Cargar resultados</a>
            {% endif %}
        </div>
    </div>
</div>

<dl class="row row-gap-3 row-gap-lg-2">
    <dt class="col-5 fw-medium">Tipo de estudio</dt>
    <dd class="col-7 fw-light">{{ estudio.tipo_estudio }}</dd>

    <dt class="col-5 fw-medium">Tipo de sospecha</dt>
    <dd class="col-7 fw-light">{{ estudio.tipo_sospecha }}</dd>

    <dt class="col-5 fw-medium">Sintomas</dt>
    <dd class="col-7 fw-light">-</dd>

    <dt class="col-5 fw-medium">Estado</dt>
    <dd class="col-7 fw-light">
        {% if estudio.estado == estados.PAGADO %}
            <span class="badge rounded-pill text-bg-primary" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="El paciente debe que firmar consentimiento">
                PAGADO
            </span>
        {% elif estudio.estado == estados.AUTORIZADO %}
            <span type="button" class="badge rounded-pill text-bg-primary" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="El paciente debe confirmar un turno">
                AUTORIZADO
            </span>         
        {% elif estudio.estado == estados.FINALIZADO %}
            <span class="badge rounded-pill text-bg-success">FINALIZADO</span>
        {% elif estudio.estado == estados.CANCELADO %}
            <span class="badge rounded-pill text-bg-danger">CANCELADO</span>
        {% else %}
            <span class="badge rounded-pill text-bg-primary">{{ estudio.estado|upper }}</span>
        {% endif %}
    </dd>

    <dt class="col-5 fw-medium">Hallazgos secundarios</dt>
    <dd class="col-7 fw-light">-</dd>
</dl>

<h3>Presupuesto</h3>
<dl class="row row-gap-3 row-gap-lg-2">
    <dt class="col-5 fw-medium">Costo Exoma</dt>
    <dd class="col-7 fw-light">{{ estudio.presupuesto.costo_exoma}}</dd>

    <dt class="col-5 fw-medium">Costo Genes extra</dt>
    <dd class="col-7 fw-light">{{ estudio.presupuesto.costo_genes_extra }}</dd>
</dl>

{% endblock %}


